body {
  margin: 0px;
  padding: 0px;
  background-color: black;
}
/*
 *	FONTS
 */
h1 {
  position: relative;
  font-size: 2.4em;
  font-family: 'Palatino Linotype';
}
h2 {
  position: relative;
  font-family: 'Palatino Linotype';
  font-size: 1.75em;
  margin-bottom: 0px;
}
h3 {
  font-family: 'Palatino Linotype';
  font-size: 1.3em;
}
p {
  position: relative;
  margin-top: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
}
.page-section:nth-child(1) h1{
  margin-top: 0px;
}

.img-presentation img {
  width: 100%;
}

#logo {
  position: fixed;
  top: 20px;
  left: calc(100% - 120px);
  z-index: 1;
}
#logo img{
  width: 100px;
}

#vision-section a,
#contact-section a{
  color: white;
}
div#body {
  width: 100%;
  margin-top:120px;
}
div#body .page-section {
  position:relative;
}
div.page-section > div {
  padding: 20px;
}
header{
  color: white;
}
div#body .page-section h1,
div#body .page-section h2,
div#body .page-section p {
  color: #fff;
}
section.bg-overlay{
  background-color: rgba(0, 0, 0, 0.35);
  position:absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100%;
}
#vision-section {
  background-color: #000;
}
#about-section {
  background-color: #252128;
}
#contact-section {
  background-color: #000;
}

#vision-section{
  background: url("../img/bg-0/md.jpg") no-repeat fixed;
}

@media only screen and (min-width: 667px){
  div.page-section > div {
    width: calc(100% - 210px);
    padding: 30px;
  }
  #logo {
    left: calc(100% - 150px);
    top:30px;
  }
  #logo img{
    width:120px;
  }

  div#body #about-section {
    overflow: hidden;
  }
  div#body #about-section div.img-presentation {
    float: left;
    width: calc(50% - 15px);
  }
  div#body #about-section div.img-presentation:nth-child(odd) {
    padding-right: 15px;
  }
  div#body #about-section div.img-presentation:nth-child(even) {
    padding-left: 15px;
  }

}
@media only screen and (min-width: 768px) {
  div#body .page-section > div{
    padding: 50px;
    width: calc(100% - 270px);
  }
  #logo {
    left: calc(100% - 170px);
    top: 50px;
  }
  #logo img{
    width:120px;
  }

  div#body #about-section {
    overflow: hidden;
  }
  div#body #about-section div.img-presentation {
    width: calc(50% - 25px);
  }
  div#body #about-section div.img-presentation:nth-child(odd) {
    padding-right: 25px;
  }
  div#body #about-section div.img-presentation:nth-child(even) {
    padding-left: 25px;
  }
}
@media only screen and (min-width: 1279px) {
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 2em;
  }
  p {
    font-size: 1.6em;
  }

  div#body #vision-section > div > div{
    width: calc(50%);
  }
  div#body #about-section div.img-presentation {
    width: calc(50% - 50px);
  }
  div#body #about-section div.img-presentation:nth-child(odd) {
    padding-right: 50px;
  }
  div#body #about-section div.img-presentation:nth-child(even) {
    padding-left: 50px;
  }
  div#body .page-section > div {
    width: calc(100% - 450px);
    padding: 100px;
  }
  #logo {
    left: calc(100% - 250px);
    top:100px;
  }
  #logo img{
    width:150px;
  }
}
@media only screen and (min-width: 1281px){
  #vision-section{
    background-image: url("../img/bg-0/lg.jpg");
  }

}
@media only screen and (min-width: 1921px) {
  #vision-section{
    background-image: url("../img/bg-0/xl.jpg");
  }

  h1 {
    font-size: 7em;
  }
  h2 {
    font-size: 5em;
  }
  p {
    font-size: 3em;
  }
  div#body .page-section > div {
    width: calc(100% - 900px);
    overflow: visible;
    padding: 200px;
  }
  #logo {
    left: calc(100% - 500px);
    top:200px;
  }
  #logo img{
    width:300px;
  }

  div#body #about-section div.img-presentation {
    width: calc(50% - 100px);
  }
  div#body #about-section div.img-presentation:nth-child(odd) {
    padding-right: 100px;
  }
  div#body #about-section div.img-presentation:nth-child(even) {
    padding-left: 100px;
  }
}
