body {
  margin: 0px;
  padding: 0px;
  background-color: black;
}
/*
 *	FONTS
 */
h1 {
  position: relative;
  font-size: 2.4em;
  font-family: 'Palatino Linotype';
}
h2 {
  position: relative;
  font-family: 'Palatino Linotype';
  font-size: 1.75em;
  margin-bottom: 0px;
}
h3 {
  font-family: 'Palatino Linotype';
  font-size: 1.3em;
}
p {
  position: relative;
  margin-top: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
}
.page-section:nth-child(1) h1{
  margin-top: 0px;
}
#footer {
  width: 100%;
}
#logo img,
.img-presentation img {
  max-width: 100%;
}

#logo {
  height: 150px;
  padding: 20px;
}
#logo img{
  width: 150px;
  margin-left: calc(50% - 75px);
}
header {
  top: 0px;
  background-color: black;
  color: #fff;
  width: 100%;
}
header #logo {
  width: 100%;
}
header #logo img {
  width: 150px;
  margin: 10px;
  margin-left: calc(50% - 75px);
}
header #navbar {
  display: none;
}
#vision-section a,
#contact-section a{
  color: white;
}
div#body {
  width: 100%;
}
div#body .page-section {
  padding: 20px;
  overflow: hidden;
  position:relative;
}
div#body .page-section h1,
div#body .page-section h2,
div#body .page-section p {
  color: #fff;
}
img.bg-md-image,
img.bg-lg-image,
img.bg-xl-image{
  position:absolute;
  top: 0px;
  left: 0px;
}
img.bg-lg-image,
img.bg-xl-image{
  display:none;
}
div.bg-overlay{
  background-color: rgba(0, 0, 0, 0.35);
  position:absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100%;
}
#vision-section {
  background-color: #000;
}
#about-section {
  background-color: #252128;
}
#contact-section {
  background-color: #000;
}
@media only screen and (min-width: 769px) {

  img.bg-lg-image{
    display:block;
  }
  img.bg-xl-image{
    display: none;
  }
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 2em;
  }
  p {
    font-size: 1.6em;
  }
  header {
    z-index: 99;
    position: fixed;
    height: 170px;
  }
  header .head-container {
    width: 80%;
    margin-left: 10%;
  }
  header .head-container #logo {
    width: 20%;
    height: 100%;
    float: left;
  }
  header .head-container #logo img {
    height: 130px;
    margin-top: 20px;
  }
  header .head-container #navbar {
    display: inline;
    float: left;
    position: absolute;
    bottom: 0px;
  }
  header .head-container #navbar div {
    float: left;
    margin: 20px;
    font-size: 2em;
  }

  div#body {
    margin-top:0px;
  }
  div#body .page-section {
    padding: 50px 20% 50px 20%;
  }
  div#body .page-section:nth-child(1) {
    padding-top: 10px;
  }
  div#body #vision-section {
    padding-right: 45%;
  }
  div#body #about-section {
    overflow: hidden;
  }
  div#body #about-section div.img-presentation {
    float: left;
    width: calc(50% - 25px);
  }
  div#body #about-section div.img-presentation:nth-child(odd) {
    margin-right: 25px;
  }
  div#body #about-section div.img-presentation:nth-child(even) {
    margin-left: 25px;
  }
  #logo {
    height: 150px;
  }
  #logo img{
    width: 150px;
    margin: auto;
  }

}
@media only screen and (orientation: landscape) {
/*  #body {
    padding-top: 50px;
  }
*/
}
